<a href="https://colab.research.google.com/github/INHARYU/aipython/blob/main/2024_04_12_ai%ED%8C%8C%EC%9D%B4%EC%8D%AC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

파이썬 자료 구조

목적
1. 데이터의 조직화
2. 데이터 접근조직
3. 성능 향상

자료구조의 유형
1. 선형자료구조: 리스트, 튜플, 스택, 큐 등
2. 비선형자료구조: 트리, 그래프 등
3. 연관 배열 자료구조: 딕셔너리, 앱 등

파이썬 자료구조 유형
1.리스트[]: 순서 있음, 순서 변경 가능, [숫자, 문자열, 실수] 따옴표로 숫자와 문자열 구분, 파이썬에서 기본적으로 사용 가능.
1-1 list vs array: 리스트는 서로 다른 유형의 데이터를 포함할 수 있다. array는 동일한 유형의 데이터만 포함한다. ex 숫자중에서도 정수만, or 문자면 문자만 array로 만든다.
메모리 성능 상 같은 유형을 사용하면 효율적이다.
2.튜플()
3.세트{}
4.딕셔너리(): 키와 값의 쌍으로 구성된 항목의 컬렉션.
왼쪽은 키 오른쪽은 값.

함수와 메소드의 차이
함수는 function (기능)
메소드는 method (방법)
차이점은 기본적으로 함수는 독립적으로 정의된다. 메소드는 클래스 또는 객체에 속해 있다.
메소드와 함수의 호출 방법은 이름을 쓰면 된다.

x.remove x.pop. x.clear --> 메소드
x.append x.insert --> 메소드
O.OOOO --> 메소드 형태
print, input, min max sum는 함수. 정의 안하고 쓰는 파이썬 내장 함수. 이런 함수를 라이브러리

In [ ]:
# 리스트 생성
a = [10, 20, 30, 40]
b = ['one', 'two', 'three', 'four']
c = [10, 20, 'one', 'two']
d = [10, 20 ['one', 'two']]
#리스트는 인덱스(순서)를 생성, 리스트 안에 리스트 구조 가능.

#빈 리스트 생성
a = []
a = list()

In [1]:
x = [10, 20, 30, 40]

print(x)
print(x[0], x[3])
print(x[1:3]) # : 슬라이싱 뒤에꺼 포함 x

[10, 20, 30, 40]
10 40
[20, 30]

In [2]:
f=[＂게임",＂독서"]
print(f)
f[0]=＂스포츠"
print(f)
f[2]=＂음악"

SyntaxError: invalid character '＂' (U+FF02) (<ipython-input-2-499f64ee0699>, line 1)

In [3]:
# 리스트에 사용하는 메소드 append(값): 해당 리스트에 끝에 추가.  insert(인덱스 값): 해당 인덱스 번호에 해당하는 위치에 값을 삽입, extend(리스트)
x=[20]
print(x)
x.append(30)
print(x)
x.insert(0,10)
print(x)
x.extend([40,50])
print(x)
y=[1,2]
z=x+y
print(z)

[20]
[20, 30]
[10, 20, 30]
[10, 20, 30, 40, 50]
[10, 20, 30, 40, 50, 1, 2]

In [4]:
# 메소드 삭제 pop(인덱스 번호): 해당 인덱스의 데이터를 삭제. remove(값): 해당 값을 삭제 clear()리스트 전체를 삭제
x=[10,20,30,40]
x.remove(10)
print(x)
x.pop(2)
print(x)
x.clear()
print(x)

[20, 30, 40]
[20, 30]
[]

In [5]:
x=[10,20,30,10,10]
print(x.index(30))
print(x.count(10))

2
3

In [ ]:
개설과목 = ['컴퓨터','파이썬','인공지능']
if '파이썬' in 개설과목:
print('파이썬 과목이 개설 되었습니다.')
for 과목 in 개설과목:
print(과목)

In [6]:
a=[10,20,30]
print("최솟값:", min(a))
print("최댓값:", max(a))
print("합 계:", sum(a))

최솟값: 10
최댓값: 30
합 계: 60

In [11]:
# 다음 리스트에서 "apple" 요소를 출력하세요
fruits = ["banana", "apple", "orange", "cherry"]
print(fruits[1])
# 다음 리스트에서 마지막 요소를 출력하세요
numbers = [10, 20, 30, 40, 50]
print(numbers[-1])

apple
50

AttributeError: 'list' object has no attribute 'i'

In [21]:
#다음 리스트에서 banana요소를 grape로 변경하세요
fruits = ["banana", "apple", "orange", "cherry"]
fruits[0]= "grape"
print(fruits)

['grape', 'apple', 'orange', 'cherry']

In [14]:
# 다음 리스트에 straweberry 요소를 추가하세요
fruits = ["banana", "apple", "orange", "cherry"]
fruits.append("straweberry")
print(fruits)

['banana', 'apple', 'orange', 'cherry', 'straweberry']

In [12]:
# 다음 리스트에서 30을 제거하세요
numbers = [10, 20, 30, 40, 50]
numbers.remove(30)
print(numbers)

[10, 20, 40, 50]

In [23]:
# 다음 리스트에서 30을 제거하세요
numbers = [10, 20, 30, 40, 50]
numbers.pop(2)
print(numbers)

[10, 20, 40, 50]

In [18]:
#다음 리스트의 길이를 출력하세요
numbers = [5, 10, 15, 20, 25]
print(len(numbers))

5

In [19]:
# 다음 리스트에서 가장 작은 값/ 가장 큰 값을 찾아 출력하세요
numbers = [10, 5, 8, 3, 15]
print(max(numbers))
print(min(numbers))

15
3

In [20]:
#  다음 리스트의 모든 요소의 합을 계산하여 출력하세요
numbers = [10, 20, 30, 40, 50]
print(sum(numbers))

150

In [43]:
# 다음 리스트의 모든 요소를 제곱하여 새로운 리스트를 생성하세요
numbers = [1, 2, 3, 4, 5]
newlst=[]
for num in numbers:
  newlst.append(num**2)
print(newlst)

[1, 4, 9, 16, 25]

In [22]:
# 다음 리스트에서 "apple" 요소의 개수를 출력하세요
fruits = ["apple", "banana", "apple", "cherry", "apple"]
print(fruits.count("apple"))

3

In [34]:
#함수사용 이유: 코드의 재사용성을 높이고, 프로그램을 모듀로하 하여 관리하기 위해 사용한다.
#함수 이름은 식별자 규칙을 따라야 한다. 함수의 동장을 나타내는 대표 이름으로 적자.
#매개변수는 함수가 입력받는 값.
def add(a, b):
  result = a+ b
  return result
# 함수 호출
sum_result = add (3, 23)
print(sum_result)

26

In [47]:
def square(x):
  result=x**2
  return result

In [42]:
ret=square(5)
print(ret)
print(square(5))
print(square(10))
print(square(15))
print(square(20))

25
25
100
225
400

In [67]:
def square(numbers):
    newlst = []
    for num in numbers:
        newlst.append(num ** 2)
    return newlst

new = square([1, 2, 3, 4, 5])
print(new)

[1, 4, 9, 16, 25]

In [54]:
def square_list(lst):
    result = []
    for num in lst:
        result.append(num ** 2)
    return result

new = square_list([1, 2, 3, 4, 5])
print(new)

[1, 4, 9, 16, 25]

In [93]:
def BMI(h, w):
  height_m = h / 100
  result = w // (height_m * height_m)
  return result

In [94]:
결과 = BMI(180,90)
print(결과)

27.0