<a href="https://colab.research.google.com/github/INHARYU/aipython/blob/main/2024_04_19_AI%ED%8C%8C%EC%9D%B4%EC%8D%AC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

자료구조: 데이터를 저장하고 처리하기 위한 그 방법.
파이썬에서는 4가지 제공, 리스트, 튜플, 세트, 딕셔너리
가장 대표적인 구조가 리스트.

2차원 리스트, 첫번째 괄호를 열고 첫번째 행에 해당하는 요소를 적고, 두번째 행에 해당하는 괄호를 넣는다.

0부터 3까지 총 4회 반복
외부포문은 행의 반복, 내부 판목은 열의 반복.
외부가 0일때 내부는 0부터 3까지
0.0 0.1 0.2 0.3 이렇게 반복된다.
r이 0일 때 c는 0에서 3까지

In [ ]:
#예제1: 인덱스를 가져오기
score= [[29, 28, 27, 30],
[30, 20, 27, 29],
[23, 25, 29, 30]]
for r in range(3):
  for c in range(4):
    print(score[r][c], end=" ")
  print()

29 28 27 30
30 20 27 29
23 25 29 30

In [ ]:
#예제2는 1차원 리스트를 갖고와서 하는 것
score= [[29, 28, 27, 30],
[30, 20, 27, 29],
[23, 25, 29, 30]]
for sc in score:
  for c in sc:
    print(c, end=" ")
  print()

29 28 27 30
30 20 27 29
23 25 29 30

In [ ]:
#예제3 하나의 리스트를 갖고와서 각각 가져오기.
score= [[29, 28, 27, 30],
[30, 20, 27, 29],
[23, 25, 29, 30]]
for c1,c2,c3,c4 in score:
  print(c1, c2, c3,c4)

29 28 27 30
30 20 27 29
23 25 29 30

튜플은 소괄호 사용, 항목값 변경 안됨.

딕셔너리를 일반적으로 출력하면 키값를 가져오고,
[]를 이용하면 값을 가져온다.

반복 for 문은 반복의 횟수를 정해놓고 사용할 때 쓴다
range도 정해져 있다. 그러나 while은 정해져 있지 않다.
while 조건식 :

In [ ]:
#과제
score = []
while value = input("값을 입력하세요:")
  if value.isdigit():
    score.append(value)
  else:



print("합계:", sum(score))
print("인원수:", score.index())
print("평균:", sum(score)//score.index())

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (<ipython-input-12-05887da8653e>, line 3)

In [ ]:
#과제 모범답안
scores = []
while True:
  score = input("학생의 점수를 입력하세요.:")
  if score.isdigit():
    scores.append(int(score))
  else:
    break
print(scores)
print("합계:", sum(scores))
print("인원수:", len(scores))
print("평균:", sum(scores)/ len(scores))

학생의 점수를 입력하세요.:30
학생의 점수를 입력하세요.:40
학생의 점수를 입력하세요.:50
학생의 점수를 입력하세요.:ㅌ
[30, 40, 50]
합계: 120
인원수: 3
평균: 40.0

In [ ]:
# oj에서 바로 코딩해도 무방. 코드를 제출 할 때 oj에도 제출하고 나중에 플라토에도 제출해야함.
# vscode에서 확장자는 .py 중요

In [ ]:
input1 = "apple#banana#cerry#orange"  # Define the string
result = input1.split("#")            # Split the string into a list using '#' as the delimiter
print(result)                          # Print the resulting list

['apple', 'banana', 'cerry', 'orange']

문자열을 리스트로 바꾸는 건 split
리스트를 문자열로 바꾸는 건 join

In [ ]:
name = ("Python", "Java", "Ruby")
x = "->".join(name)
print(x)

Python->Java->Ruby

In [ ]:
#리스트 컴퍼레이션(리스트를 한줄 짜리로 만들어주는 명령, if는 선택사항)
number_list = [x**2 for x in range(10)]
print(number_list)

In [ ]:
number_list = [x**2 for x in range(10) if x%2==0]
print(number_list)

[0, 4, 16, 36, 64]

In [ ]:
n_list = [n for n in range(1,11) if n%2==0]
print(n_list)

citys =  ["Seoul", "New York", "London", "Shanghai", "Paris", "Tokyo"]
city_list = [city for city in citys if city.startswith('S')]
print(city_list)
# 요소를 체크해야 하기 때문에 .startswith에 citys가 아닌 city가 들어가야함.

In [ ]:
#lambda 이름없는 함수를 정의할 때 사용
x = lambda a: a % 2 == 0
numbers= [1,2,3,4,5,6,7,8,9,10]
print(x(numbers))

TypeError: unsupported operand type(s) for %: 'list' and 'int'

In [ ]:
#0부터 시작
langs=['Python', 'Java', 'JavaScript']
newlst=[(idx, lang) for idx, lang in enumerate(langs)]
print(newlst)

[(0, 'Python'), (1, 'Java'), (2, 'JavaScript')]

In [ ]:
pl =  ['Python', 'Java', 'JavaScript']
for idx, pl in enumerate(pl):
    print(idx, pl)

0 Python
1 Java
2 JavaScript

In [ ]:
langs=['Python', 'Java', 'JavaScript']
newlst=[(idx, lang) for idx, lang in enumerate(langs,1)]
print(newlst)

[(1, 'Python'), (2, 'Java'), (3, 'JavaScript')]

In [ ]:
#1부터 시작
langs=['Python', 'Java', 'JavaScript']
newlst=[(idx, lang) for idx, lang in enumerate(langs,start=1)]
print(newlst)

[(1, 'Python'), (2, 'Java'), (3, 'JavaScript')]

In [ ]:
# map
def convert_to_grade(score):
    if score >= 90:
        return 'A'
    elif score >= 80:
        return 'B'
    elif score >= 70:
        return 'C'
    elif score >= 60:
        return 'D'
    else:
        return 'F'
scores = [88, 92, 78, 60, 75, 95]
mylist = list(map(convert_to_grade,scores))
print(mylist)

['B', 'A', 'C', 'D', 'C', 'A']

In [ ]:
# 람다 활용
x = lambda a: a>=18
ages= [5, 12, 17, 18, 24, 32]
new=list(filter(x, ages))
print(new)

In [ ]:
x = lambda a: a>=18
ages= [5, 12, 17, 18, 24, 32]
new=list(filter(x, ages))
print(new)

def myfunc(x):
    if x < 18:
        return False
    else:
        return True

new_ages = [5, 12, 17, 18, 24, 32]
new_list=list(filter(myfunc,new_ages))
print(new_list)

In [ ]:
ages= [5, 12, 17, 18, 24, 32]
new = list(filter(lambda age:age>=18,ages))
print(new)

[18, 24, 32]

시험칠 때 강의노트 허용 프린트에 필기 허용
적어 오는거 허용